numpy
pandas
loguru
lxml
schedule
plotly
matplotlib
statsmodels
schedule
langdetect
transformers
torch
openai
ollama
scikit-learn
pandas_market_calendars
sendgrid
kaleido==0.1.0post1
numpy
pandas
psutil>=5.8.0