# Core & Data Handling
aiohttp
numpy
pandas
pandas-market-calendars
python-dotenv
pytz
tzlocal

# Machine Learning
transformers
scikit-learn
scipy
joblib

# Utilities
unidecode

# Economic Data
fredapi